<div class="d-flex justify-content-center align-items-center h-100">
    <div class="border rounded shadow col-10 col-md-7 col-lg-6 col-xl-5">
        <div class="d-flex p-3">
            <h2 class="m-0">Add Schedule</h2>
        </div>
        <form [formGroup]="addScheduleForm" (ngSubmit)="onSubmit_addSchedule()" class="pb-3">
            <div class="ScheduleFormHeight px-3 scrollbarColor">
            <div class="d-flex align-items-center">
                <mat-form-field appearance="outline" class="col-6 pe-2">
                    <mat-label>Select Airline</mat-label>
                    <mat-select formControlName="airlineRecId" tabindex="1">
                        <mat-option>Clear</mat-option>
                        <mat-option *ngFor="let airline of airlineList" value="{{airline.airlineRecId}}">{{airline.airlineName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="checkError('airlineRecId', 'required')">Please select your airline name.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-6 ps-2">
                    <mat-label>Flight #</mat-label>
                    <input matInput placeholder="Enter flight #" formControlName="flightNumber" 
                        tabindex="2" maxlength="25" required>
                    <mat-error *ngIf="checkError('flightNumber', 'required')">Please enter the flight number.</mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex align-items-center pt-2">
                <mat-form-field appearance="outline" class="col-6 pe-2">
                    <mat-label>From Place</mat-label>
                    <input matInput placeholder="Enter the from place" formControlName="fromPlace"
                    maxlength="50"  tabindex="3" required>
                    <mat-error *ngIf="checkError('fromPlace', 'required')">Please enter the from place.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-6 ps-2">
                    <mat-label>To Place</mat-label>
                    <input matInput placeholder="Enter the to place" formControlName="toPlace" 
                    maxlength="50" tabindex="4" required>
                    <mat-error *ngIf="checkError('toPlace', 'required')">Please enter the to place.</mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex align-items-center pt-2">
                <mat-form-field appearance="outline" class="col-6 pe-2">
                    <mat-label>Start DateTime</mat-label>
                    <input matInput type="datetime-local" placeholder="Pick the start date" formControlName="startDateTime" tabindex="5" required>
                    <mat-error *ngIf="checkError('startDateTime', 'required')">Please choose the start date time.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-6 ps-2">
                    <mat-label>End DateTime</mat-label>
                    <input matInput type="datetime-local" placeholder="Pick the end date" formControlName="endDateTime" tabindex="6" required>
                    <mat-error *ngIf="checkError('endDateTime', 'required')">Please choose the end date time.</mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex align-items-center pt-2">
                <mat-form-field appearance="outline" class="col-6 pe-2">
                    <mat-label>Scheduled Days</mat-label>
                    <mat-select formControlName="scheduledDays" tabindex="7">
                        <mat-option>Clear</mat-option>
                        <mat-option value="Daily">Daily</mat-option>
                        <mat-option value="Week Days">Week Days</mat-option>
                        <mat-option value="Week Ends">Week Ends</mat-option>
                    </mat-select>
                    <mat-error *ngIf="checkError('scheduledDays', 'required')">Please enter the scheduled days.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-6 ps-2">
                    <mat-label>Instrument Used</mat-label>
                    <mat-select formControlName="instrumentUsed" tabindex="8">
                        <mat-option>Clear</mat-option>
                        <mat-option value="A320">A320</mat-option>
                        <mat-option value="A320 Neo">A320 Neo</mat-option>
                    </mat-select>
                    <mat-error *ngIf="checkError('instrumentUsed', 'required')">Please enter the instrument used.</mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex align-items-center pt-2">
                <mat-form-field appearance="outline" class="col-6 pe-2">
                    <mat-label>No Of Business Class Seats</mat-label>
                    <input matInput placeholder="Enter the business clas seats" maxlength="7" formControlName="noOfBussinessClsSeats" tabindex="9" required>
                    <mat-error *ngIf="checkError('noOfBussinessClsSeats', 'required')">Please enter the business class seats.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-6 ps-2">
                    <mat-label>No Of Non Business Class Seats</mat-label>
                    <input matInput placeholder="Enter the non business clas seats" maxlength="7" formControlName="noOfNonBussinessClsSeats" tabindex="10" required>
                    <mat-error *ngIf="checkError('noOfNonBussinessClsSeats', 'required')">Please enter the non business class seats.</mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex align-items-center pt-2">
                <mat-form-field appearance="outline" class="col-6 pe-2">
                    <mat-label>Business Class Ticket Cost</mat-label>
                    <input matInput placeholder="Enter the business class ticket cost" maxlength="7" formControlName="businessClassTicket" tabindex="11" required>
                    <mat-error *ngIf="checkError('businessClassTicket', 'required')">Please enter the business class seats.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-6 ps-2">
                    <mat-label>Non Business Class Ticket Cost</mat-label>
                    <input matInput placeholder="Enter the non business clas ticket cost" maxlength="7" formControlName="nonBusinessClassTicket" tabindex="12" required>
                    <mat-error *ngIf="checkError('nonBusinessClassTicket', 'required')">Please enter the non business class ticket cost.</mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex align-items-center pt-2">
                <mat-form-field appearance="outline" class="col-6 pe-2">
                    <mat-label>No. of Rows</mat-label>
                    <input matInput placeholder="Enter the no. of rows" maxlength="3" formControlName="noOfRows" tabindex="13" required>
                    <mat-error *ngIf="checkError('noOfRows', 'required')">Please enter the no. of rows.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-6 ps-2">
                    <mat-label>Meal</mat-label>
                    <mat-select formControlName="meal" tabindex="14">
                        <mat-option>Clear</mat-option>
                        <mat-option value="Veg">Veg</mat-option>
                        <mat-option value="Non-Veg">Non-Veg</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            </div>
        <div class="pt-3 text-center">
            <button type="submit" mat-flat-button color="primary" tabindex="5">Save</button>  
            <button type="button" mat-flat-button color="warn" class="ms-2"  tabindex="6"
                (click)="redirectToSchedule()">Cancel</button>  
        </div>        
    </form>
    </div>
</div>