<h2 class="text-center m-0 text-white py-1 bg-cornflowerBlue radius-top">Register your Account</h2>
    <div class="text-muted font-size-12 text-center pt-3">user your email for registration</div>
    <form [formGroup]="registerUser" (ngSubmit)="onSubmit_RegisterUser()" class="py-3">
        <div class="RegisterFormHeight px-3 scrollbarColor">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter First Name" formControlName="firstName" tabindex="1" required>
            <mat-error *ngIf="checkError('firstName', 'required')">Please enter your first name.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Enter Last Name" formControlName="lastName" tabindex="2">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email Id</mat-label>
            <input matInput placeholder="Enter your email id" formControlName="emailId" tabindex="3" required>
            <mat-error *ngIf="checkError('emailId', 'required')">Please enter your email id.</mat-error>
            <mat-error *ngIf="checkError('emailId', 'pattern')">Please enter valid email id.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 pt-1">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" type="password" formControlName="password" tabindex="4" required>
            <mat-error *ngIf="checkError('password', 'required')">Please enter your password.</mat-error>
            <mat-error *ngIf="checkError('password', 'pattern')">Password must be 8 digit, atleast 1 lowercase, uppercase and special character.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 pt-1">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Enter your confirm password" type="password" formControlName="confirmPassword" tabindex="5" required>
            <mat-error *ngIf="checkError('confirmPassword', 'mustMatch')">Passwords do not match</mat-error>
        </mat-form-field>
        </div>
        <div class="pt-3 text-center">
            <button type="submit" mat-flat-button color="primary" tabindex="6">Save</button>
            <button type="button" mat-flat-button color="warn" class="ms-3" (click)="cancelRegister()" tabindex="7">cancel</button>  
        </div>        
    </form>