
.line-words-middle {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid lightgrey; 
    line-height: 0.1em;
    margin: 10px 0 10px; 
}

.line-words-middle span {
    background:#fff; 
    padding:0 10px; 
}