<div class="p-3" *ngIf="isShowFlights; else popup">
    <div class="pt-3 pb-2 border radius shadow-sm position-relative bg-light">
        <div class="position-absolute shadow-sm bg-white pe-2 top-0 d-flex py-1 FilterIcon">
            <mat-icon class="fas fa-filter SmallCaption Font-Icon-Color ps-1" color="primary">search</mat-icon>
        </div>
        <div class="d-flex flex-wrap align-items-center px-5">
            <mat-form-field class="example-form-field">
                <mat-label>From Place</mat-label>
                <input matInput type="text" [(ngModel)]="fromPlace" tabindex="1" maxlength="25">
            </mat-form-field>
            <mat-form-field class="example-form-field ps-4">
                <mat-label>To Place</mat-label>
                <input matInput type="text" [(ngModel)]="toPlace" tabindex="2" maxlength="25">
            </mat-form-field>
            <mat-form-field class="ps-4">
                <mat-label>Start DateTime</mat-label>
                <input matInput type="datetime-local" placeholder="Pick the start date" [(ngModel)]="fromDateTime"
                    tabindex="3">
            </mat-form-field>
            <mat-form-field class="px-4">
                <mat-label>End DateTime</mat-label>
                <input matInput type="datetime-local" placeholder="Pick the end date" [(ngModel)]="toDateTime"
                    tabindex="4">
            </mat-form-field>

            <button mat-flat-button color="accent" (click)="searchFlight()">Apply</button>
        </div>
    </div>
    <div class="pt-4" *ngIf="schedules?.length > 0; else noData">
        <div class="pb-3">
            <mat-radio-group aria-label="Select an option" color="warn" [(ngModel)]="oneWayOrRound"
                (change)="onchange_OneWayRoundTrip()">
                <mat-radio-button value="1">One way</mat-radio-button>
                <mat-radio-button value="2" class="ps-3">Round trip</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="example-container mat-elevation-z8 scrollbarColor">
            <table mat-table [dataSource]="schedules">

                <ng-container matColumnDef="flightNumber" sticky>
                    <th mat-header-cell *matHeaderCellDef class="font-size-1rem"> Flight # </th>
                    <td mat-cell *matCellDef="let element" class="cell-width-150"> {{element.flightNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="airlineName" sticky>
                    <th mat-header-cell *matHeaderCellDef class="font-size-1rem"> Airline Name </th>
                    <td mat-cell *matCellDef="let element" class="cell-width-200"> {{element.airlines?.airlineName}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="fromPlace">
                    <th mat-header-cell *matHeaderCellDef class="font-size-1rem"> From Place </th>
                    <td mat-cell *matCellDef="let element" class="cell-width-150">{{element.fromPlace}} </td>
                </ng-container>

                <ng-container matColumnDef="toPlace">
                    <th mat-header-cell *matHeaderCellDef class="font-size-1rem"> To Place </th>
                    <td mat-cell *matCellDef="let element" class="cell-width-150"> {{element.toPlace}} </td>
                </ng-container>

                <ng-container matColumnDef="seatsAvailable">
                    <th mat-header-cell *matHeaderCellDef class="font-size-1rem"> Bus. seats / Non-Bus. seats </th>
                    <td mat-cell *matCellDef="let element" class="cell-width-250">
                        {{element.noOfBussinessClsSeats}} / {{element.noOfNonBussinessClsSeats}}</td>
                </ng-container>

                <ng-container matColumnDef="ticketCost">
                    <th mat-header-cell *matHeaderCellDef class="font-size-1rem"> Bus. Cost / Non-Bus. Cost </th>
                    <td mat-cell *matCellDef="let element" class="cell-width-250">
                        {{element.businessClassTicket}} / {{element.nonBusinessClassTicket}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="instrumentUsed">
                    <th mat-header-cell *matHeaderCellDef class="font-size-1rem"> Instrument Used </th>
                    <td mat-cell *matCellDef="let element" class="cell-width-200"> {{element.instrumentUsed}} </td>
                </ng-container>

                <ng-container matColumnDef="meal">
                    <th mat-header-cell *matHeaderCellDef class="font-size-1rem">Meal</th>
                    <td mat-cell *matCellDef="let element" class="cell-width-150"> {{element.meal}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" class="TableHeader"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClick_Schedule(row, 1)"
                    [ngClass]="row?.scheduleRecId === selectedScheduleRow?.scheduleRecId ? 'SelectedRow' : ''"></tr>
            </table>
        </div>
        <div *ngIf="oneWayOrRound === '2'" class="py-3">
            <h2 class="">Select your return flight.</h2>
            <div class="example-container mat-elevation-z8 scrollbarColor">
                <table mat-table [dataSource]="roundWaySchedules">

                    <ng-container matColumnDef="flightNumber" sticky>
                        <th mat-header-cell *matHeaderCellDef class="font-size-1rem"> Flight # </th>
                        <td mat-cell *matCellDef="let element" class="cell-width-150"> {{element.flightNumber}} </td>
                    </ng-container>

                    <ng-container matColumnDef="airlineName" sticky>
                        <th mat-header-cell *matHeaderCellDef class="font-size-1rem"> Airline Name </th>
                        <td mat-cell *matCellDef="let element" class="cell-width-200"> {{element.airlines?.airlineName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="fromPlace">
                        <th mat-header-cell *matHeaderCellDef class="font-size-1rem"> From Place </th>
                        <td mat-cell *matCellDef="let element" class="cell-width-150">{{element.fromPlace}} </td>
                    </ng-container>

                    <ng-container matColumnDef="toPlace">
                        <th mat-header-cell *matHeaderCellDef class="font-size-1rem"> To Place </th>
                        <td mat-cell *matCellDef="let element" class="cell-width-150"> {{element.toPlace}} </td>
                    </ng-container>

                    <ng-container matColumnDef="seatsAvailable">
                        <th mat-header-cell *matHeaderCellDef class="font-size-1rem"> Bus. seats / Non-Bus. seats </th>
                        <td mat-cell *matCellDef="let element" class="cell-width-250">
                            {{element.noOfBussinessClsSeats}} / {{element.noOfNonBussinessClsSeats}}</td>
                    </ng-container>

                    <ng-container matColumnDef="ticketCost">
                        <th mat-header-cell *matHeaderCellDef class="font-size-1rem"> Bus. Cost / Non-Bus. Cost </th>
                        <td mat-cell *matCellDef="let element" class="cell-width-250">
                            {{element.businessClassTicket}} / {{element.nonBusinessClassTicket}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="instrumentUsed">
                        <th mat-header-cell *matHeaderCellDef class="font-size-1rem"> Instrument Used </th>
                        <td mat-cell *matCellDef="let element" class="cell-width-200"> {{element.instrumentUsed}} </td>
                    </ng-container>

                    <ng-container matColumnDef="meal">
                        <th mat-header-cell *matHeaderCellDef class="font-size-1rem">Meal</th>
                        <td mat-cell *matCellDef="let element" class="cell-width-150"> {{element.meal}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" class="TableHeader"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClick_Schedule(row, 2)"
                        [ngClass]="row?.scheduleRecId === selectedRoundTripScheduleRow?.scheduleRecId ? 'SelectedRow' : ''"></tr>
                </table>
            </div>
        </div>
        <div class="pt-3 text-center">
            <button mat-flat-button color="primary" (click)="navigateToBook()">Book</button>
        </div>
    </div>
    <ng-template #noData>
        <h3 class="text-center pt-4 text-danger">No Flights are available.</h3>
    </ng-template>
</div>
<ng-template #popup>
    <router-outlet></router-outlet>
  </ng-template>